
.btn {
  font-size: 15px;
  font-family: monospace;
  color: #fff;
  background: linear-gradient(to left, #00d2ff, #3a7bd5);
  text-decoration: none;
  padding: 2px 8px;
  border-radius: 50px;
  background-size: 200%;
  transition: .4s;
}
.btn:hover {
  background-position: right;
}
